html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Sora', sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/top.png) center no-repeat;
  background-size: cover;
}

.hero .down-btn {
  position: absolute;
  bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  opacity: 70%;
}

.hero .down-btn:hover {
  opacity: 100%;
}

.mobile-block {
  display: none;
}

.product {
  width: 100%;
  height: auto;
  background-color: #fff;
  text-align: center;
  padding: 40px 150px;
  display: block;
}

.product p {
  text-align: center;
  color: #7C7C7C;
  font-size: 20px;
}

.product-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-body img {
  width: 300px;
}

.product-body_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-body_descr h1 {
  width: 100%;
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 40px;
}

.product-body_descr h2 {
  color: #E64206;
  margin-bottom: 5px;
}

.product-body_descr span {
  color: #7C7C7C;
  font-size: 14px;
}

.middle {
  width: 100%;
  height: auto;
  background: url(../img/middle.png) center no-repeat;
  background-size: cover;
  padding: 40px 150px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-block {
  width: 45%;
}

.middle-block h1 {
  margin-bottom: 30px;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
}

.middle-block ul {
  list-style-type: circle;
  padding-left: 10px;
}

.middle-block ul li {
  margin-bottom: 25px;
}

.middle-block_second h2 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.middle-block_second ul {
  list-style: none;
  padding: 0;
}

.pattern {
  background: url(../img/pattern.png) center no-repeat;
  height: auto;
  width: 100%;
  padding: 40px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pattern h1 {
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 20px;
}

.pattern p {
  color: #7C7C7C;
  font-size: 14px;
  width: 100%;
}

.pattern-block {
  margin-top: 40px;
  width: 45%;
}

.pattern-block ul {
  list-style: none;
  padding: 0;
  color: #7C7C7C;
  font-size: 12px;
}

.pattern-block span {
  display: block;
  margin-bottom: 10px;
}

.pattern-block span a {
  color: #7C7C7C;
  text-decoration: none;
  font-size: 12px;
  margin-left: 10px;
}

#map {
  height: 300px;
}

@media only screen and (max-width: 750px) {
  .hero {
    background: url(../img/img-mobile/mobile-top.png) center no-repeat;
    height: 280px;
  }
  .hero img {
    display: none;
  }
  .mobile-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 20px;
    background: url(../img/pattern.png) center no-repeat;
  }
  .mobile-block h1 {
    text-transform: uppercase;
    width: 80%;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .mobile-block p {
    color: #7C7C7C;
  }
  .product {
    padding: 40px 20px;
    height: auto;
  }
  .product-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-body h1 {
    margin-top: 20px;
    font-size: 24px;
  }
  .middle {
    background: url(../img/img-mobile/mobile-mid.png) center;
    background-size: cover;
    padding: 40px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middle-block {
    width: 100%;
  }
  .pattern {
    padding: 40px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    background-size: cover;
  }
}
/*# sourceMappingURL=style.css.map */